.App {
    overflow: hidden;
}
/* Home */
.home {
    color: #637069;
}
.home .section {
    max-width: 1400px;
    margin: 0 auto;
}
.home .section h2, .home .section h3, .home .section p {
    text-align: center;
}
.home .section .subtitle, .home .section1 .subtitle {
    font-size: 40px;
    padding: 50px 0 100px;
}
.home .section .text-title {
    padding-top: 150px;
    font-size: 60px;
    font-weight: bold;
}
.home .section .text {
    font-size: 18px;
    line-height: 26px;
    padding: 40px 0 90px;
}
.home .section video {
    margin-top: 35px; 
}
.home .section1 {
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url("/public/images/flower_bg.png") no-repeat center center;
    background-size: cover;
}
.home .section1 .title {
    font-size: 100px;
    font-weight: bold;
    padding: 200px 0 50px;
}
.home .section1 .btn-test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto 0;
    width: 500px;
    height: 150px;
    font-size: 60px;
    color: #637069;
    border: 1px solid #637069;
    text-decoration: none;
}
.footer {
    margin-top: 130px;
    padding: 40px 0;
    width: 100%;
    color: #637069;
    background: #EBEBE9;
}
.footer .footer-area {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}
.footer .footer-area .footer-group {
    flex: 1;
    text-align: center;
}
.footer .footer-area .footer-group .title {
    margin-bottom: 10px;
    font-weight: bold;
}
.footer .footer-area .footer-group .text {
    margin-top: 15px;
}
.footer .copy {
    text-align: center;
    margin-top: 40px;
}
/* PerfumeSlider */
.slide-title {
    display: block;
    margin-top: 30px;
    width: 400px;
    font-size: 18px;
    color: #637069;
    text-align: center;
}
.slide-text {
    display: block;
    margin-top: 25px;
    width: 400px;
    font-size: 16px;
    color: #637069;
    text-align: center;
}
/* Question1 */
.question {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
}
.question .title-num {
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: #637069;
}
.question .text-container {
    padding-top: 30px;

}
.question .title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #637069;
}
.question .text {
    display: block;
    margin-top: 20px;
    padding: 15px 10px;
    width: 400px;
    font-size: 14px;
    border: 1px solid #EBEBE9;
    border-radius: 8px;
}
.question .text:hover {
    cursor: pointer;
}
/* Result */
.result {
    text-align: center;
    color: #637069;
}
.result .title {
    padding-top: 50px;
    font-size: 30px;
}
.result .title strong {
    font-weight: bold;
}
.result .subtitle {
    display: block;
    padding-top: 40px;
    font-size: 22px;
}
.result .perfume-img {
    padding: 30px 0;
    width: 300px;
}
.result .perfume-type {
    display: block;
    font-size: 24px;
    font-weight: bold;
}
.result .perfume-subtype {
    display: block;
    font-size: 20px;
    padding-top: 20px;
}
.result .perfume-text {
    display: block;
    padding: 30px 0;
    width: 250px;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
}
.result .btn-test {
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    width: 200px;
    color: #637069;
    text-decoration: none;
    border: 1px solid #EBEBE9;
    border-radius: 8px;
}